* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    height: 5rem;
    width: 90%;
    margin: auto;
    align-items: center;
}

.header-nav {
    flex: .5;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.logo-container {
    flex: 2;
}

.trk-list {
    display: flex;
    background: #e55c5c;
    height: 5rem;
    width: 80%;
    margin: auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.trk-list:hover .chart-container{
    opacity: 1;
  }

.item-name {
    font-size: 36px;
    list-style: none;
    flex: .6;
    color: white;
}

.item-price {
    font-size: 24px;
    list-style: none;
    flex: .2;
    color: white;
}

.item-img {
    flex: .1;
    height: 3rem;
    width: .5rem;
    margin: 1rem;
}

.chart-container {
    width: 80%;
    margin: auto;
    background: #e55c5c;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease;
}

.chart-item {
    height: 10rem;
}


